/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    text-align: center;
    /* background-color: #4CAF50; */
    color: #ffffe3;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

header p {
    font-size: 1.2rem;
    margin: 10px 0 0;
}

/* Search Bar */
.search-bar {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffe3;
    background-color: #4a4a31;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #45a049;
}

/* Loading Spinner */
.loading-spinner {
    display: none;
    font-size: 1rem;
    color: #ffffe3;
    text-align: center;
    margin: 10px 0;
}

/* Main Content */
.main-content {
    display: flex;
    width: 90%;
    gap: 20px;
    margin: 20px 0;
}

.chart-container {
    flex: 3;
    background: #dbdbc3;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.favorites-container {
    flex: 1;
    background: #8a8a7b;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.favorites-box h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.favorites-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.favorites-box li {
    padding: 8px 12px;
    margin: 5px 0;
    background-color: #f1f1f1;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.favorites-box li:hover {
    background-color: #e0e0e0;
}
.search-bar input[type="date"] {
    width: 160px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}


